{% trans_default_domain 'FOSUserBundle' %}
<h2>Twoje aktualne dane</h2>
<div class="fos_user_user_show">
    <h3>Imię: </h3>
    <p>{{ user.username }}</p>
    <h3>Email:</h3>
    <p>{{ user.email }}</p>     
    <h3>Telefon: </h3>
    <p>{{user.cellPhone}}</p>
</div>



