{% extends "::base2.html.twig" %}

{% block title %}Nowy przychód{% endblock %}

{% block body %}
    <h2>Wprowadź nowy przychód</h2>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        
        jQuery(document).ready(function() {
            
            $('.js-datepicker').datepicker({ 
                format: 'yyyy-mm-dd',
                startDate: '-1000d'
            });
        });
    </script>
{% endblock %}