<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    backupGlobals="true"
    colors="true"
    stopOnError="true"
    verbose="false">
    <!-- ... -->
    
    
    <php>
        <server name="KERNEL_DIR" value="/home/pp/Workspace/homeBudget/app/" />
    </php>
</phpunit>
