{% extends "::base2.html.twig" %}

{% block title %}Modyfikacja konta{% endblock %}

{% block body %}
<h2>Wprowadź nowe dane</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
