{% extends "::base2.html.twig" %}

{% block title %}Nowe Konto{% endblock %}

{% block body %}
<h2>Podaj dane dla nowego konta</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
