{% extends "::base.html.twig" %}

{% block title %}HBBundle:Account:showAll{% endblock %}

{% block body %}
<h1>Welcome to the Account:showAll page</h1>

{% for account in accounts %}
    {{account.name}} {{account.balance}} {{account.type.name}}<br>
    {% endfor %}
    
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
{% endblock %}
