{% extends "::base2.html.twig" %}

{% block title %}Przenoszenie środków{% endblock %}
{% block body %}
    <h1>{{message}}</h1>
    <h2>Wprowadź kwotę i podaj konto docelowe</h2>

    {{ form_start(form) }}
    {{ form_widget(form.amount, {"attr":{"placeholder":balance}}) }}
    {{ form_end(form) }}

{% endblock %}