{% extends "::base.html.twig" %}





{% block body %}
<h1>Aplikacja budżet domowy</h1>

{% for link in links %}
    <a href="{{path(link.href)}}">{{link.text}}</a>
    <br>
    <br>
    
    
    
{%endfor%}

{% endblock %}
