{% extends "::base2.html.twig" %}

{% block title %}Dodanie kategorii przychodów{% endblock %}

{% block body %}

    
    <h3>Dodaj najczęstsze kategorie dla wydatków</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
