{% extends "::base2.html.twig" %}

{% block title %}Modyfikacja kategorii{% endblock %}

{% block body %}
    <h2>Wprowadź zmiany dla kategorii</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
