{% extends "::base2.html.twig" %}

{% block title %}Modyfikacja kategorii{% endblock %}

{% block body %}
    <h2>Wprowadź zmiany dla kategorii</h2>

    {{ form_start(form) }}
    {% if message %}
        <span class="help-block">    
            <ul class="list-unstyled">
                <li>
                    <span class="warning glyphicon glyphicon-exclamation-sign"></span> 
                    <span class="warning">{{  message }}</span>
                </li>
            </ul>
        </span>
    {% endif %}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
