{% extends "::base.html.twig" %}

{% block title %}HBBundle:ExpandCategory:showAllExpCategory{% endblock %}

{% block body %}
<h1>Welcome to the ExpandCategory:showAllExpCategory page</h1>

{% for exCategory in exCategories %}
    {{exCategory.name}}<br>
    {% endfor %}
<a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
{% endblock %}
