
{% extends "::base2.html.twig" %}



{% block body %}

    <div class="alert alert-success" role="alert">
        <strong>Gratulacje!</strong> Zarejstrowałeś swoje konto.
    </div>

{% endblock body %}
