{% extends "::base.html.twig" %}

{% block title %}HBBundle:IncomeCategory:deleteInCategory{% endblock %}

{% block body %}
<h1>Welcome to the IncomeCategory:deleteInCategory page</h1>
{% endblock %}
