{% extends "::base.html.twig" %}

{% block title %}HBBundle:IncomeCategory:modifyIncCategory{% endblock %}

{% block body %}
<h1>Welcome to the IncomeCategory:modifyIncCategory page</h1>
{% endblock %}
