{% extends "::base.html.twig" %}

{% block title %}HBBundle:Expend:newExpend{% endblock %}

{% block body %}
<h1>Welcome to the Expend:newExpend page</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
