{% trans_default_domain 'FOSUserBundle' %}



<div class="container">

    <form class="form-signin" form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input class="form-control" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}  
        <h2 class="form-signin-heading">Proszę się zalogować</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email lub login" required autofocus/>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input class="form-control" type="password" id="password" name="_password" placeholder="Hasło" required="required" /> 
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Zapamiętaj mnie
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
    </form>

</div> <!-- /container -->