{% extends "::base2.html.twig" %}

{% block title %}Dodanie typów{% endblock %}

{% block body %}

    
    <h3>Dodaj najczęstsze typy kont</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}