{% extends "::base2.html.twig" %}

{% block title %}Modyfikacja typu{% endblock %}

{% block body %}

<h2>Wprowadź zmiany dla typu konta</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
