{% extends "::base.html.twig" %}

{% block title %}HBBundle:Type:showAll{% endblock %}

{% block body %}
<h1>Welcome to the Type:showAll page</h1>


{% for type in types %}
    {{type.name}}<br>
    {% endfor %}
<a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
{% endblock %}
