{% extends "::base.html.twig" %}

{% block title %}HBBundle:Type:showAll{% endblock %}

{% block body %}
<h1>Welcome to the Type:showAll page</h1>


{% for type in types %}
    {{type.name}}<br>
    {% endfor %}

{% endblock %}
