{% extends "::base.html.twig" %}

{% block title %}HBBundle:ExpandCategory:deleteExpCategory{% endblock %}

{% block body %}
<h1>Welcome to the ExpandCategory:deleteExpCategory page</h1>
{% endblock %}
