{% extends "::base.html.twig" %}

{% block title %}HBBundle:ExpandCategory:modifyExpCategory{% endblock %}

{% block body %}
<h1>Welcome to the ExpandCategory:modifyExpCategory page</h1>
{% endblock %}
