{% extends "::base.html.twig" %}

{% block title %}HBBundle:ExpandCategory:showAllExpCategory{% endblock %}

{% block body %}
<h1>Welcome to the ExpandCategory:showAllExpCategory page</h1>
{% endblock %}
